@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --font-base: 'Montserrat', sans-serif;
  /* --font-base: "DM Sans", sans-serif; */

  --primary-color: #edf0f6;
  --secondary-color: #7C9473;
  --black-color: #030303;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: rgb(255, 255, 255);
  --lightGrey-color: rgb(221, 225, 234);

  --darkGrey-color: #41464f ;
  --grey1-color: rgb(242,245,239);
  --grey2-color: #CDD0CB;

  --green1-color: #e6ede3;
  --green2-color: #bdd2b6;
  --green3-color: #A2B29F;
  --green4-color: rgb(124, 148, 115);
  --green5-color: #798777;
  --green6-color: #80AC7B;
  --green7-color: #446a46;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
