@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600&family=Philosopher&display=swap');
:root {
  --font-base: 'Philosopher', sans-serif;
  --black-color: #030303;
  --white-color: rgb(255, 255, 255);

  --blue1-color: #eeefff;
  --blue2-color: #7980e9;
  --blue3-color: #d1d2ea;
  --blue4-color: #959ed3; 
  --blue5-color: #adb4de; 
  
  --purple1-color: #483462;
  --purple2-color:#dda1ed;
  --purple3-color: #3500ac;
  --purple4-color: #3e3754;   
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
